<table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>TASKS</th>
          <div *ngIf="(store.state | async)?.bots.selectedBot.decorated.potentialTasks.length > 0" class="btn-group">
            <span type="button" class="glyphicon glyphicon-plus dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </span>
            <div class="dropdown-menu">
              <p *ngFor="let potentialTask of (store.state | async)?.bots.selectedBot.decorated.potentialTasks" class="dropdown-item" href="#"
              (click)="reducers.dispatch('ADD-TASK',potentialTask)">
                {{potentialTask.decorated.formattedName}}
              </p>
            </div>
          </div>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let task of (store.state | async)?.bots.selectedBot.tasks"
                [class.subTask]="task.decorated && task.decorated.subTask === true"
                [class.selected]="task === selectedTask"
                (click)="reducers.dispatch('SET-SELECTED-TASK',task)">
            {{task.name}}
            <p *ngIf="task.decorated && task.decorated.formattedName">
              {{task.decorated.formattedName}}
            <span class="glyphicon glyphicon-remove" (click)="reducers.dispatch('DELETE-TASK',task)"></span>
            <span class="glyphicon" [ngClass]="{'glyphicon-pencil': !task.decorated.masterTask, 'glyphicon-plus' : task.decorated.masterTask }" (click)="reducers.dispatch('EDIT-SELECTED-TASK',task)"></span>
            </p>
          </tr>
      </tbody>
    </table>